[submodule "ai/ai110"]
	path = ai/ai110
	url = git@github.com:goats-9/ai1110
[submodule "ee/ee2802"]
	path = ee/ee2802
	url = git@github.com:goats-9/ee2802
[submodule "ee/ee3900"]
	path = ee/ee3900
	url = git@github.com:goats-9/ee3900
[submodule "ee/ee6367"]
	path = ee/ee6367
	url = git@github.com:goats-9/ee6367
[submodule "cs/cs3423"]
	path = cs/cs3423
	url = git@github.com:goats-9/cs3423
[submodule "cs/cs3530"]
	path = cs/cs3530
	url = git@github.com:goats-9/cs3530
[submodule "cs/cs5040"]
	path = cs/cs5040
	url = git@github.com:goats-9/cs5040
[submodule "cs/cs3390"]
	path = cs/cs3390
	url = git@github.com:goats-9/cs3390
[submodule "ee/ee5900"]
	path = ee/ee5900
	url = git@github.com:goats-9/ee5900
[submodule "cs/cs6160"]
	path = cs/cs6160
	url = git@github.com:goats-9/cs6160
